<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booktlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Books</h1>
    <table>
		<tr>
		    <th>Name</th>
		    <th>Author</th>
		</tr>  
    	<tr th:each = "book : ${books}">
    		<td th:text="${book.name} + ' ' + ${book.author}"></td>  
    		<td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
    		<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>    		
    	</tr>
     </table>
	 <a href="/add">Add Book</a>  		
    	</tr>
     </table>    	
</body>
</html>